@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <div class="jumbotron">
        <h1 class="text-center text-info"><i class="fa fa-university"></i></h1>
        <h1 class="text-center">Olecra University</h1>
    </div>
</div>
